<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assetsb/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assetsb/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assetsb/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
               
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productsList"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add Product</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/category"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/usersList"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/ordersList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/categoryoffer">Category offer</a>
                        <!-- <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a> -->
                    </div>
                </li> 
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/coupon"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/banner"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Banner Management</span>
                    </a>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <%- include('header') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Category Offer </h2>
                    <p>Add, edit or delete a category offer</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th>
                                           
                                            <th>Name</th>
                                            <th>Discount</th>
                                            <th>Expiry</th>
                                            <th>Offer Status</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(i=0;i<category.length;i++){%>
                                        <tr>
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <td><b><%=category[i].categoryName%></b></td>
                                            
                                            <%if(category[i].discount){%>
                                                <td><%=category[i].discount%>%</td>
                                                <%}else{%>
                                                    <td></td>
                                                    <%}%>
                                            <td><%=category[i].expiry%></td>

                                            <%if(category[i].offerStatus == true){%>
                                                <td class="text-success"><%=category[i].offerStatus%></td>
                                                <%}else{%>
                                                    <td class="text-danger"><%=category[i].offerStatus%></td>
                                                    <%}%>
                                           
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        
                                                        <%if(category[i].discount > 0){%>
                                                        <!-- <a class="dropdown-item" href="#">Edit </a> -->
                                                        <a class="dropdown-item text-danger" href="/admin/deleteCategoryOffer?categoryId=<%=category[i]._id%>&discount=<%=category[i].discount%>&">Delete</a>
                                                        <%}else{%>
                                                            <a class="dropdown-item" href="/admin/addCategoryOffer?categoryId=<%=category[i]._id%>">Add Offer</a>
                                                            <%}%>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td>
                                        </tr>
                                        <%}%>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <%- include('footer') %>
    </main>
    <script src="/assetsb/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assetsb/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assetsb/js/vendors/select2.min.js"></script>
    <script src="/assetsb/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assetsb/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assetsb/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>