<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>OZORA</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <%- include('header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Account
                    <span></span> Edit Address
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                
                <section class="mt-50 mb-50">
                    <div class="container">
                <div class="row ">
                   
                    <div class="col-md-6" style="display: block; margin:auto">
                       
                        <%if(locals.message){%>
                            <div class="mb-25">
                                <h4 class="text-success text-center"><%=message%></h4>
                            </div>
                            
                            <%}%>
                        <div class="mb-25">
                            <h4>New Address</h4>
                        </div>
                       
                       
                        <form method="post" action="/editAddressForm?index=<%=index%>&checkout=<%=checkout%>"
                            onsubmit="return validateForm()">
                            <div class="form-group">
                                <label for="fname">First Name <span class="required">*</span></label>
                                <input type="text" id="fname" name="fname" required placeholder="First name *"
                                    value="<%=address.fname%>">
                                <span id="fnameError" class="error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name <span class="required">*</span></label>
                                <input type="text" id="lname" name="lname" required placeholder="Last name *"
                                    value="<%=address.lname%>">
                                <span id="lnameError" class="error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="country">Country <span class="required">*</span></label>
                                <div class="custom_select" name="country">
                                    <select id="country" class="form-control select-active" required>
                                        <option value="">Select your Country</option>
                                        <option value="AX">Aland Islands</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory
                                        </option>
                                        <option value="VG">British Virgin Islands</option>
                                        <option value="BN">Brunei</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CW">CuraÇao</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and McDonald Islands
                                        </option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="CI">Ivory Coast</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao S.A.R., China</option>
                                        <option value="MK">Macedonia</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="KP">North Korea</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom (UK)</option>
                                        <option value="US">USA (US)</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VA">Vatican</option>
                                        <option value="VE">Venezuela</option>
                                        <option value="VN">Vietnam</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="WS">Western Samoa</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                                <span id="countryError" class="error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="houseName">Address <span class="required">*</span></label>
                                <input type="text" id="houseName" name="houseName" required placeholder="Address *"
                                    value="<%=address.housename%>">
                                <span id="houseNameError" class="error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="city">City / Town <span class="required">*</span></label>
                                <input type="text" id="city" name="city" required placeholder="City / Town *"
                                    value="<%=address.city%>">
                                <span id="cityError" class="error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="state">State <span class="required">*</span></label>
                                <input type="text" id="state" name="state" required placeholder="State *"
                                    value="<%=address.state%>">
                                <span id="stateError" class="error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="pincode">Postcode / ZIP <span class="required">*</span></label>
                                <input type="text" id="pincode" name="pincode" required placeholder="Postcode / ZIP *"
                                    value="<%=address.pincode%>">
                                <span id="pincodeError" class="error text-danger "></span>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone <span class="required">*</span></label>
                                <input type="text" id="phone" name="phone" required placeholder="Phone *"
                                    value="<%=address.phone%>">
                                <span id="phoneError" class="error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address <span class="required">*</span></label>
                                <input type="email" id="email" name="email" required placeholder="Email address *"
                                    value="<%=address.email%>">
                                <span id="emailError" class="error text-danger"></span>
                            </div>
                            <div class="mb-20">
                                <h5>Additional information</h5>
                            </div>
                            <div class="form-group mb-30">
                                <label for="orderNotes">Order Notes</label>
                                <textarea id="orderNotes" rows="5" placeholder="Order notes" name="orderNotes"></textarea>
                            </div>
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Update address</button>
                        </form>
                    
                        <script>
                            // Your existing JavaScript code with added phone number and pincode validation
                            function validateForm() {
                                // Reset error messages
                                clearErrors();
                    
                                var fname = document.getElementById('fname').value.trim();
                                var lname = document.getElementById('lname').value.trim();
                                var country = document.getElementById('country').value;
                                var houseName = document.getElementById('houseName').value.trim();
                                var city = document.getElementById('city').value.trim();
                                var state = document.getElementById('state').value.trim();
                                var pincode = document.getElementById('pincode').value.trim();
                                var phone = document.getElementById('phone').value.trim();
                                var email = document.getElementById('email').value.trim();
                    
                                // Validate first name
                                if (fname === '') {
                                    showError('fnameError', 'Please enter your first name.');
                                }
                    
                                // Validate last name
                                if (lname === '') {
                                    showError('lnameError', 'Please enter your last name.');
                                }
                    
                                // Validate country
                                if (country === '') {
                                    showError('countryError', 'Please select your country.');
                                }
                    
                                // Validate address
                                if (houseName === '') {
                                    showError('houseNameError', 'Please enter your address.');
                                }
                    
                                // Validate city
                                if (city === '') {
                                    showError('cityError', 'Please enter your city or town.');
                                }
                    
                                // Validate state
                                if (state === '') {
                                    showError('stateError', 'Please enter your state.');
                                }
                    
                                // Validate pincode
                                if (pincode === '') {
                                    showError('pincodeError', 'Please enter your postcode or ZIP.');
                                } else if (!/^\d{6}$/.test(pincode)) {
                                    showError('pincodeError', 'Please enter a valid 6-digit pincode.');
                                }
                    
                                // Validate phone
                                if (phone === '') {
                                    showError('phoneError', 'Please enter your phone number.');
                                } else if (!/^\d{10}$/.test(phone)) {
                                    showError('phoneError', 'Please enter a valid 10-digit phone number.');
                                }
                    
                                // Validate email
                                if (email === '') {
                                    showError('emailError', 'Please enter your email address.');
                                } else if (!isValidEmail(email)) {
                                    showError('emailError', 'Please enter a valid email address.');
                                }
                    
                                // Add more validations as needed...
                    
                                // Check if there are any errors
                                return !hasErrors();
                            }
                    
                            function showError(id, message) {
                                var errorElement = document.getElementById(id);
                                if (errorElement) {
                                    errorElement.innerHTML = message;
                                }
                            }
                    
                            function clearErrors() {
                                var errorElements = document.querySelectorAll('.error');
                                errorElements.forEach(function (element) {
                                    element.innerHTML = '';
                                });
                            }
                    
                            function hasErrors() {
                                var errorElements = document.querySelectorAll('.error');
                                for (var i = 0; i < errorElements.length; i++) {
                                    if (errorElements[i].innerHTML !== '') {
                                        return true;
                                    }
                                }
                                return false;
                            }
                    
                            function isValidEmail(email) {
                                // Add your email validation logic here
                                return true;
                            }
                        </script>
                    </div>
                   
                </div>
            </div>
        </section>
    </main>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>