<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
<head>
    <meta charset="utf-8">
    <title>OZORA</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <%- include('header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <% if (user) { %>
                                <%if(wishlist==null){%>
                                    <p>No items in the wishlist.</p>
                               <% }else{%>
                                <% if (wishlist.products.length>0) { %>
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    
                                    

                                    <%for(let i=0;i<wishlist.products.length;i++){%>
                                        
                                    <tr>
                                        <td class="image product-thumbnail"><img src="/<%=wishlist.products[i].productId.image[0]%>" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="shop-product-right.html"><%=wishlist.products[i].productId.title%></a></h5>
                                            <p class="font-xs"><%=wishlist.products[i].productId.description%>
                                            </p>
                                        </td>
                                        <td class="price" data-title="Price"><span>₹<%=wishlist.products[i].productId.salePrice%></span></td>
                                        <td class="text-center" data-title="Stock">
                                            <%if(wishlist.products[i].productId.quantity >= 1){%>
                                                <span class="color3 font-weight-bold">In Stock</span>
                                            <%}else{%>
                                                <span class="text-danger font-weight-bold">Out of stock</span>
                                            <%}%>
                                        </td>
                                        
                                        <%if(user.cart.length>0){%>
                                            <% let flag = 0 %>
                                                                                
                                            <% for (let j = 0; j < user.cart.length; j++) { %>
                                                

                                                
                                                <% if ( wishlist.products[i].productId._id.toString() == user.cart[j].productId.toString()) {
                                                    flag = 1;
                                                    break;
                                                } %>
                                            <% } %>

                                            <% if (flag == 1 && wishlist.products[i].productId.quantity >= 1) { %>
                                                <td class="text-right" data-title="Cart">
                                                    <a href="/cart" class="btn btn-sm btn-info"><i class="fi-rs-shopping-bag mr-5"></i>Go to cart</a>
                                                </td>
                                            <% } else if (flag == 0 && wishlist.products[i].productId.quantity >= 1) { %>
                                                <td class="text-right" data-title="Cart">
                                                    <a href="/addToCart?productId=<%=wishlist.products[i].productId._id%>" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</a>
                                                </td>
                                            <% }else{%>
                                                <td class="text-success">Not available now.</td>
                                                <%} %>
                                        <%}else{%>
                                            <%if(wishlist.products[i].productId.quantity >= 1){%>
                                            <td class="text-right" data-title="Cart">
                                                <a href="/addToCart?productId=<%=wishlist.products[i].productId._id%>" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</a>
                                            </td>
                                            <%}else{%>
                                                <td class="text-success">Not available now.</td>
                                                <%}%>
                                        <%}%>

                                                                                
                                        
        
                                        
                                        <td class="action" data-title="Remove"><a href="/deleteFromWishlist?productId=<%=wishlist.products[i].productId._id%>"><i class="fi-rs-trash"></i></a></td>
                                    </tr>

                                    <%}%>  

                                    

                                <% } else { %>
                                    <p>No items in the wishlist.</p>
                                 <% } %>
                                 <%}%>
                                    
                                </tbody>
                            </table>
                            <% } else { %>
                                
                           <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer') %>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
</html>